<a href="https://colab.research.google.com/github/Dineshkumar1823/Coding--Practise-FUN/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2+2

4

In [ ]:
2 - 3

-1

In [ ]:
2*1

2

In [ ]:
6/4

1.5

In [ ]:
6 % 4

2

In [ ]:
2**3

8

In [ ]:
a =4

In [ ]:
a

4

In [ ]:
a=a+a

In [ ]:
a

8

In [ ]:
type(a)

int

In [ ]:
my_string = "Hello world"

In [ ]:
len(my_string)

11

In [ ]:
my_string[-1]

'd'

In [ ]:
my_string = 'abcdefghij'

In [ ]:
my_string[:5]

'abcde'

In [ ]:
name = "Dinesh"

In [ ]:
last_letter = name[1:]

In [ ]:
'P' + last_letter

'Pinesh'

In [ ]:
name

'Dinesh'

In [ ]:
name.split('i')

['D', 'nesh']

In [ ]:
print("My name is Dinesh")

My name is Dinesh

In [ ]:
print("My name is Dinesh {}".format('Kumar'))

My name is Dinesh Kumar

In [ ]:
print("My name is {1} {0}".format('Dinesh', 'Kumar'))

My name is Kumar Dinesh

In [ ]:
print("My name is {d} {k}".format(d='Dinesh', k='Kumar'))

My name is Dinesh Kumar

In [ ]:
result = 104.5879654

In [ ]:
print("The result was {r:1.2f}".format(r='result'))

ValueError: ignored

In [ ]:
my_list = ['one',4444,'dinesh']

In [ ]:
my_list

LIST are Mutable

In [ ]:
my_list[1] = '555'

In [ ]:
my_list

In [ ]:
next_list = ['dani', 665,55.5]

Concadination

In [ ]:
my_list + next_list

In [ ]:
my_list

In [ ]:
my_list.append('dk')

In [ ]:
my_list.pop(-1)

In [ ]:
my_list.sort()

In [ ]:
my_list

In [ ]:
my_list.reverse()

In [ ]:
my_list

DICTONARIES

In [ ]:
price_lookup = {'orange': 66,'mango': 55,'Banana':77}

In [ ]:
price_lookup['mango']

In [ ]:
new_dict = {'d1':456,'d2':[2,4,5],'d3':{'orange': 66,'mango': 55,'Banana':77}}

In [ ]:
new_dict['d3']['mango']

In [ ]:
create_dict = {'apple':33,'Game':'cricket'}

In [ ]:
create_dict['Game']='Football'

In [ ]:
create_dict['Game']

In [ ]:
create_dict['song']='Raja'

In [ ]:
create_dict

In [ ]:
create_dict['Game'].upper()

In [ ]:
create_dict.keys()

In [ ]:
create_dict.values()

In [ ]:
create_dict.items()

TUPLE

In [ ]:
new_tup = ('apple',444)

In [ ]:
type(new_tup)

SETS

In [ ]:
my_set=set()

In [ ]:
my_set

In [ ]:
my_set.add(444)
my_set

In [ ]:
My_sample = my_set

In [ ]:
set(My_sample)

In [ ]:
%%writefile my_new_file.txt
One of the Best
Find the Solution
Find the Path

In [ ]:
myfile = open('my_new_file.txt')

In [ ]:
pwd

In [ ]:
myfile.read()

In [ ]:
myfile.read()

In [ ]:
myfile.seek(0)

In [ ]:
myfile.read()

In [ ]:
myfile.seek(0)

In [ ]:
myfile.readlines( )

In [ ]:
list1=[1,2,[3,4,'hello']]

In [ ]:
list1[2][-1]='Goodbye'

In [ ]:
list1

In [ ]:
list2=[5,3,4,6,1]

In [ ]:
sorted(list2)

In [ ]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [ ]:
d['k1'][-1]['k2'][1]['tough'][-1][0]

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [ ]:
set(list5)

COMPARISON OPERATOR

In [ ]:
2>=8

In [ ]:
2==2

In [ ]:
2<3

In [ ]:
'D'=='D' and 2 >=2

In [ ]:
3==3 or 4>4

In [ ]:
not 3==3

IF,Elif,else Operation

In [ ]:
Reaching_office_Time   = 10.01

if Reaching_office_Time <=10:
  print('Suceesfully reach the Destination')
elif Reaching_office_Time <=10.30:
  print("Grace_time")  
else:
  print('Not Suceesfully reach the Destination')

In [ ]:
name ='Dinesh'

if name =='Dinesh':
  print("Hello Dinesh")
elif name =='DK':
  print('Hello DK')
else:
  print('what was your Name')

FOR Loop

In [ ]:
mylist = [1,2,3,4,5,6]

In [ ]:
mylist

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
  print(f'It was a value:{num}')

In [ ]:
for mul in mylist:
  if mul % 2 ==0:
    print(f'It will be even value: {mul}')
  else:
    print(f'It will be odd value: {mul}')

In [ ]:
my_list = 0
for mul in mylist:
  my_list = my_list + mul 
print(my_list)

In [ ]:
string ='Hello World'

for letter in string:
  print(string)

In [ ]:
tup = (1,2,3,)
for lette in tup:
  print(lette)

In [ ]:
list_tup =[(1,2,3),(6,7,8),(9,5)]
for list in list_tup:
  print(list)

Tuple unpacking

In [ ]:
list_tup =[(1,2,3),(6,7,8),(9,5,6)]
for a,b,c in list_tup:
  print(c)

In [ ]:
Dict ={'k1':66,'k2':44,'k3':78}

for iteams in Dict:
  print(iteams)

WHILE LOOP

In [ ]:
x=50
while x<5:
  print(f' The current value of X is {x}')
  x+=1
else:
  print(f'The current value is less than 5')

In [ ]:
x=[1,2,3]

for num in x:
  # comment
  pass
  print(x)

In [ ]:
myname ='Dineshgkumar'

for letter in myname:
  if letter =='g':
    continue
  print(letter)

In [ ]:
myname ='Dineshgkumar'

for letter in myname:
  if letter =='g':
    break
  print(letter)

In [ ]:
x=0

while x<7:
  if x==5:
    break
  print(x)
  x+=1

Range

In [ ]:
for num in range(0,10,3):
  print(num)

In [ ]:
  list(range(0,10,3))

Enumerate

In [ ]:
word = 'abcd'
for letter in enumerate(word):
  print(letter)

In [ ]:
word = 'abcd'
for index,letter in enumerate(word):
  print(index)

Zip

In [ ]:
my_list1 = [1,2,3]
my_list2 = ('a','b','c')

In [ ]:
zip(my_list1,my_list2)

In [ ]:
for item in zip(my_list1,my_list2):
  print(item)

CHECK IN THE LIST

In [ ]:
'X'in (1,2,3)

In [ ]:
'X' in ('X','y','c')

In [ ]:
my_list = [1,3,4,45,645,444]

In [ ]:
min(my_list)

In [ ]:
max(my_list)

In [ ]:
from random import shuffle

In [ ]:
my_list = [1,2,3,4,5]
shuffle(my_list)

In [ ]:
my_list

In [ ]:
from random import randint

In [ ]:
randint(0,12)

In [ ]:
Name = int(input('What is your favourite number'))

In [ ]:
Name

In [ ]:
type(Name)

LIST COMPREHENSION

In [ ]:
my_list = 'hello'

In [ ]:
my_string = []

for num in my_list:
  my_string.append(num)

In [ ]:
my_list = 'Dinesh'
my_list = [num for num in my_list]

In [ ]:
my_list

In [ ]:
my_value = [x**2 for x in range(0,10)]

In [ ]:
my_value

In [ ]:
my_value = [x*2 for x in range(0,10) if x % 2==0]

In [ ]:
my_value

In [ ]:
celcius = [0,12,16,19]

Farenheit = [((9/5*temp + 32) for temp in celcius)]

In [ ]:
Farenheit

In [ ]:
Farenheit

In [ ]:
my_list = [1,2,3]
my_value = [22,33,44]
my_dk = []
for x in my_list:
  for y in my_value:
    my_dk.append(x*y)

In [ ]:
my_dk

In [ ]:
my_dk = [x*y for x in my_list for y in my_value]

In [ ]:
my_dk

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
st

In [ ]:
st.split()

In [ ]:
for words in st.split():
  if words[0]=='s':
    print(words)

In [ ]:
for i in range(0,10):
  print(i)

In [ ]:
my_lsit = [x for x in range(0,51) if x % 3==0 ]
print(my_lsit)

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
st.split()

In [ ]:
for i in st.split():
  if len(i) % 2==0:
    print(i + ' even words')

In [ ]:
for num in range(1,50):
  print(num)

In [ ]:
for num in range(1,50):
  if num%3==0 and num%5==0:
    print('FizzBuzz')
  elif num%3==0:
    print('Fizz')
  elif num%5==0:
    print('Buzz')
  else:
    print(num)

In [ ]:
my_list =[1,2,3]

In [ ]:
my_list.append(4)

In [ ]:
my_list

In [ ]:
my_list.pop()

In [ ]:
my_list

In [ ]:
my_list.pop()

In [ ]:
help(my_list.append)

FUNCTIONS

In [ ]:
def say_hello():
  print('Hello')

In [ ]:
say_hello()

In [ ]:
def say_hi(name='Default'):
  print(f'Hi {name}')

In [ ]:
say_hi()

In [ ]:
def add_func(num1,num2):
  return num1+num2

In [ ]:
add_func(1,5)

In [ ]:
output= add_func(1,5)

In [ ]:
output

In [ ]:
def sum_num(num1,num2):
  return num1+num2

In [ ]:
sum_num(4,8)

In [ ]:
20 % 2 == 0

In [ ]:
25 % 2==0

In [ ]:
def even_value(num):
  return num % 2==0

In [ ]:
even_value(50)

RETURN TRUE IF ANY NUMBER IS INSIDE EVEN VALUE

In [ ]:
def even_num(number):
  for val in number:
    if val % 2 == 0:
      return True
    else:
      pass
  return False

In [ ]:
even_num([1,999,9999999])

RETURN VALUES IN A LIST

In [ ]:
def even_value(numbers):
  even_number = []
  for num in numbers:
    if num % 2 ==0:
      even_number.append(numbers)
      
    else:
      pass

  return even_number

In [ ]:
even_value([1,7]) # odd value mentioned

In [ ]:
even_value([2,6])

TUPLE UNPACKING

In [ ]:
stock_price = [('Apple',230),('Google',600),('onepluse',112)]

In [ ]:
for items in stock_price:
  print(items)

In [ ]:
for name,price in stock_price:  # Tuple unpacking
  print(price+(0.1*price))

find out the employee of the month ( Related to No. of hours work

In [ ]:
employee_data = [('DK',450),('Vic',650),('Dani',651)]

In [ ]:
def employee_of_month(employee_data):
  Current_max = 0
  employee_name= ''
  for employee,hours in employee_data:
    if hours > Current_max:
      Current_max = hours
      employee_name = employee
    else:
      pass


  return (employee_name,Current_max)

In [ ]:
employee_of_month(employee_data)

SHUFFLE GAME

In [ ]:
dice=[1,2,3,4,5,6]

In [ ]:
from random import shuffle

In [ ]:
shuffle(dice)

In [ ]:
dice

In [ ]:
def shuffule_list(my_list):
  shuffle(my_list)
  return my_list

In [ ]:
result = shuffule_list(dice)

In [ ]:
result

In [ ]:
my_list = ['', 'O', '']

In [ ]:
shuffule_list(my_list)

In [ ]:
def myfunc(Name):
    print('Hello {}'.format(Name))
    
myfunc('Name')

**arugs and **Kwargs

In [ ]:
def myfunc(a,b):
  return sum((a,b)) *0.05

In [ ]:
myfunc(10,56)

In [ ]:
def myfunc(*args):   # *args are very usefull for multiple arguments
  return sum(args)

In [ ]:
def myfunc(*args):
  return sum(args) *0.05

In [ ]:
myfunc(10,20)

In [ ]:
 def myfunc(**kwargs):

   if fruits in kwargs:
     print('My favourie fruits {}'.format(kwargs['fruits']))
   else:
      print('I dont like it')

In [ ]:
def myfunc(*args, **kwargs):
  print(args)
  print('Find the fruits value {} {}'.format(args[0],kwargs ['food']))

In [ ]:
def myfunc(*args):
    if args % 2:
        return args

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd


lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [ ]:
def less_or_not_even(a,b):
  if a % 2==0 & b % 2==0:
    return min(a,b)
  else:
    return max(a,b)
  pass

In [ ]:
less_or_not_even(3,4)

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter



animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def two_string_words(text):
  wordlist = text.split()
  return wordlist[0][0]== wordlist[1][0]

In [ ]:
two_string_words('Dinesh kumar')


MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
  if n1==20 or n2==20:
    return True
  elif n1 + n2 ==20:
    return True
  else:
    return False

In [ ]:
makes_twenty(202,8)

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

In [ ]:
def old_macdonald(name):
  if len(name) > 3:
    return name[:3].capitalize() + name[3:].capitalize()  # Capitalize is the function for converting upper case to lower case except First letter
  return name

In [ ]:
old_macdonald('Dinesh')

MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

In [ ]:
def master_yoda(name):
  return ' '.join(name.split()[::-1])

In [ ]:
master_yoda( 'Back i home')

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [ ]:
def has_33(num):
  for i in range(0, len(num)-1):
    if num[i:i+2]==[3,3]:
      return True
    return False

In [ ]:
has_33([1,4,3,3])

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [ ]:
def num_33(nums):
  for i in range(0,len(nums)-1):
    if nums[i]==3 and nums[i+1]==3:
      return True
  return False

In [ ]:
num_33([1,3,3,4,5])


PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def word_3(text):
  word=""
  for char in text:
    word += char*3
  return word

In [ ]:
word_3("HI")

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
  if sum([a,b,c]) <= 21:
    return sum([a,b,c])
  elif 11 in ([a,b,c]) and sum([a,b,c]) <=31:
    return sum([a,b,c])-10
  else:
    return 'Bust'

In [ ]:
blackjack(9,9,9)


SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_99(arr):
  total = 0
  add = True

  for num in arr:
    while add:
      if num!=6:
        total += num
        break
      else:
        add = False
    while not add:
      if num!=9:
        total +=num
      else:
        add = True
        break
  return total

In [ ]:
summer_99([1,3,5])

In [ ]:
def square(nums):
  return nums**2

In [ ]:
square(2)

In [ ]:
my_nums = [1,2,3,4,5]

In [ ]:
square

In [ ]:
for item in map(square,my_nums): # MAP funciton
  print(item)

In [ ]:

list(map(square,my_nums)) # Map implementation

In [ ]:
def even_value(nums):
  return nums%2==0

In [ ]:
my_list=[1,2,3,4,5,6,8]

In [ ]:
for n in filter(even_value,my_list):
  print(n)

In [ ]:
list(filter(even_value,my_list))

In [ ]:
lambda nums: nums**2

In [ ]:
squart(6)

In [ ]:
lambda nums:num%2==0

In [ ]:
my_list = [1,2,3,4,5,6]

In [ ]:
list(map(lambda nums:nums%2==0,my_list))

In [ ]:
my_list

In [ ]:
list(filter(lambda x : x%2==0,my_list))

The volume of a sphere is given as
(4/3)*(3.14)*(r**3)

In [ ]:
def vol(r):
  return (4/3)*(3.14)*(r**3)

In [ ]:
vol(2)

Write a function that checks whether a number is in a given range (inclusive of high and low)

In [ ]:
def run_check(num,low,high):
  if num in range(low,high+1):
    print('{} is the range between {} to {}'.format(num,low,high))
  else:
    print('The number is outside the range')

In [ ]:
run_check(9,4,8)

In [ ]:
def Boolen_(num,low,high):
  return num in range(low,high+1)

In [ ]:
Boolen_(4,2,8)

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: .isupper() and .islower()

If you feel ambitious, explore the Collections module to solve this problem!

In [ ]:
def up_lower(s):
  lowercase = 0
  uppercase = 0
  for char in s:
    if char.isupper():
      uppercase+= 1
    elif char.islower():
      lowercase+=1
    else:
      pass



  print(f'Uppercase : {s}')
  print(f'Lower count is :{lowercase}')
  print(f'Upper count is :{uppercase}')

In [ ]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'

In [ ]:
up_lower(s)

Uppercase : Hello Mr. Rogers, how are you this fine Tuesday?
Lower count is :33
Upper count is :4

Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [ ]:
def unique_num(lst):
  x=[]

  for num in lst:
    if num not in x:
      x.append(num)
  return x

In [ ]:
lst=[1,1,1,1,2,2,3,3,3,3,4,5]

In [ ]:
unique_num(lst)

[1, 2, 3, 4, 5]

Write a Python function to multiply all the numbers in a list.

Sample List : [1, 2, 3, -4]
Expected Output : -24

In [ ]:
def squar(number):
  x=1

  for num in number:
    x =x*num
  return x

In [ ]:
number = [1,2,3,-4]

In [ ]:
squar(number)

-24

Write a Python function that checks whether a passed in string is palindrome or not.

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [ ]:
def palindrome(x):
  x=x.replace(' ','')
  return  x ==x[::-1]

In [ ]:
x= 'ma dam'

In [ ]:
palindrome(x)

True

Write a Python function to check whether a string is pangram or not.

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
For example : "The quick brown fox jumps over the lazy dog"

In [1]:
import string
def pangram(str1, alphabet=string.ascii_lowercase):

  # set the alphabet
  alphabet =set(alphabet)
  # Repalace the space

  str1 =str1.replace(' ','')
  #set the lowercase
  str1 = str1.lower()
  # unique number
  str1 =set(str1)

  #
  return str1==alphabet

In [2]:
pangram('The quick brown fox jumps over the lazy dog')

True

In [17]:
x=([' ',' ',' '])
y = ([' ',' ',' '])
z=([' ',' ',' '])

In [18]:
def example(x,y,z):
  print(x)
  print(y)
  print(z)

In [19]:
example(x,y,z)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [20]:
y[2]="x"

In [21]:
example(x,y,z)

[' ', ' ', ' ']
[' ', ' ', 'x']
[' ', ' ', ' ']

In [22]:
input("choose the number: ")

choose the number: 55

'55'

In [23]:
value = input("choose the number: ")

choose the number: 5

In [27]:
position=int(value)

In [28]:
type(position)

int

In [29]:
value= input("change the value: ")

change the value: two

In [35]:
def user_choice():
  choice = input('Choose the number between(0-9): ')
  return int(choice)

In [36]:
user_choice()

Choose the number between(0-9): 100

100

In [44]:
def user_choice():
  choice = 'wrong'
  while choice.isdigit()==False:

    choice = input('Choose the number between(0-9): ')
    if choice.isdigit()==False:
      print("this is not a digit")
  return int(choice)

In [45]:
user_choice()

Choose the number between(0-9): dfdf
this is not a digit
Choose the number between(0-9): 444

444

In [56]:
def user_choice():


    # initials
  choice = 'wrong'
  acceptable_range = range(0,10)
  within_range = False  


  while choice.isdigit()==False or within_range==False:

    choice = input('Choose the number between(0-9): ')
   # Digit check
    if choice.isdigit()==False:
      print("this is not a digit")
    # Range Check
    if choice.isdigit()==True:
      if int(choice) in acceptable_range:
        within_range = True
      else:
        print("Out of range")
        within_range = False



  return int(choice)

In [57]:
user_choice()

Choose the number between(0-9): fgdg
this is not a digit
Choose the number between(0-9): 4554
Out of range
Choose the number between(0-9): 7

7