<a href="https://colab.research.google.com/github/Dineshkumar1823/Coding--Practise-FUN/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2+2

4

In [ ]:
2 - 3

-1

In [ ]:
2*1

2

In [ ]:
6/4

1.5

In [ ]:
6 % 4

2

In [ ]:
2**3

8

In [ ]:
a =4

In [ ]:
a

4

In [ ]:
a=a+a

In [ ]:
a

32

In [ ]:
type(a)

int

In [ ]:
my_string = "Hello world"

In [ ]:
len(my_string)

11

In [ ]:
my_string[-1]

'd'

In [ ]:
my_string = 'abcdefghij'

In [ ]:
my_string[:5]

'abcde'

In [ ]:
name = "Dinesh"

In [ ]:
last_letter = name[1:]

In [ ]:
'P' + last_letter

'Pinesh'

In [ ]:
name

'Dinesh'

In [ ]:
name.split('i')

['D', 'nesh']

In [ ]:
print("My name is Dinesh")

My name is Dinesh

In [ ]:
print("My name is Dinesh {}".format('Kumar'))

My name is Dinesh Kumar

In [ ]:
print("My name is {1} {0}".format('Dinesh', 'Kumar'))

My name is Kumar Dinesh

In [ ]:
print("My name is {d} {k}".format(d='Dinesh', k='Kumar'))

My name is Dinesh Kumar

In [ ]:
result = 104.5879654

In [ ]:
print("The result was {r:1.2f}".format(r='result'))

ValueError: ignored

In [ ]:
my_list = ['one',4444,'dinesh']

In [ ]:
my_list

['one', 4444, 'dinesh']

LIST are Mutable

In [ ]:
my_list[1] = '555'

In [ ]:
my_list

['one', '555', 'dinesh']

In [ ]:
next_list = ['dani', 665,55.5]

Concadination

In [ ]:
my_list + next_list

['one', '555', 'dinesh', 'dani', 665, 55.5]

In [ ]:
my_list

['one', '555', 'dinesh']

In [ ]:
my_list.append('dk')

In [ ]:
my_list.pop(-1)

'dk'

In [ ]:
my_list.sort()

In [ ]:
my_list

['555', 'dinesh', 'dk']

In [ ]:
my_list.reverse()

In [ ]:
my_list

['dk', 'dinesh', '555']

DICTONARIES

In [ ]:
price_lookup = {'orange': 66,'mango': 55,'Banana':77}

In [ ]:
price_lookup['mango']

55

In [ ]:
new_dict = {'d1':456,'d2':[2,4,5],'d3':{'orange': 66,'mango': 55,'Banana':77}}

In [ ]:
new_dict['d3']['mango']

55

In [ ]:
create_dict = {'apple':33,'Game':'cricket'}

In [ ]:
create_dict['Game']='Football'

In [ ]:
create_dict['Game']

'Football'

In [ ]:
create_dict['song']='Raja'

In [ ]:
create_dict

{'apple': 33, 'Game': 'Football', 'song': 'Raja'}

In [ ]:
create_dict['Game'].upper()

'FOOTBALL'

In [ ]:
create_dict.keys()

dict_keys(['apple', 'Game', 'song'])

In [ ]:
create_dict.values()

dict_values([33, 'Football', 'Raja'])

In [ ]:
create_dict.items()

dict_items([('apple', 33), ('Game', 'Football'), ('song', 'Raja')])

TUPLE

In [ ]:
new_tup = ('apple',444)

In [ ]:
type(new_tup)

tuple

SETS

In [ ]:
my_set=set()

In [ ]:
my_set

set()

In [ ]:
my_set.add(444)
my_set

{3, 444, 355555}

In [ ]:
My_sample = my_set

In [ ]:
set(My_sample)

{1, 2, 3, 6, 57, 435, 565, 757, 75757}

In [ ]:
%%writefile my_new_file.txt
One of the Best
Find the Solution
Find the Path

Writing my_new_file.txt

In [ ]:
myfile = open('my_new_file.txt')

In [ ]:
pwd

'/content'

In [ ]:
myfile.read()

'One of the Best\nFind the Solution\nFind the Path\n'

In [ ]:
myfile.read()

''

In [ ]:
myfile.seek(0)

0

In [ ]:
myfile.read()

'One of the Best\nFind the Solution\nFind the Path\n'

In [ ]:
myfile.seek(0)

0

In [ ]:
myfile.readlines( )

[]

In [ ]:
list1=[1,2,[3,4,'hello']]

In [ ]:
list1[2][-1]='Goodbye'

In [ ]:
list1

[1, 2, [3, 4, 'Goodbye']]

In [ ]:
list2=[5,3,4,6,1]

In [ ]:
sorted(list2)

[1, 3, 4, 5, 6]

In [ ]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [ ]:
d['k1'][-1]['k2'][1]['tough'][-1][0]

'hello'

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [ ]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

COMPARISON OPERATOR

In [ ]:
2>=8

False

In [ ]:
2==2

True

In [ ]:
2<3

True

In [ ]:
'D'=='D' and 2 >=2

True

In [ ]:
3==3 or 4>4

True

In [ ]:
not 3==3

False

IF,Elif,else Operation

In [ ]:
Reaching_office_Time   = 10.01

if Reaching_office_Time <=10:
  print('Suceesfully reach the Destination')
elif Reaching_office_Time <=10.30:
  print("Grace_time")  
else:
  print('Not Suceesfully reach the Destination')

Grace_time

In [ ]:
name ='Dinesh'

if name =='Dinesh':
  print("Hello Dinesh")
elif name =='DK':
  print('Hello DK')
else:
  print('what was your Name')

Hello Dinesh

FOR Loop

In [ ]:
mylist = [1,2,3,4,5,6]

In [ ]:
mylist

[1, 2, 3, 4, 5, 6]

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
  print(f'It was a value:{num}')

It was a value:1
It was a value:2
It was a value:3
It was a value:4
It was a value:5
It was a value:6
It was a value:7
It was a value:8
It was a value:9
It was a value:10

In [ ]:
for mul in mylist:
  if mul % 2 ==0:
    print(f'It will be even value: {mul}')
  else:
    print(f'It will be odd value: {mul}')

It will be odd value: 1
It will be even value: 2
It will be odd value: 3
It will be even value: 4
It will be odd value: 5
It will be even value: 6
It will be odd value: 7
It will be even value: 8
It will be odd value: 9
It will be even value: 10

In [ ]:
my_list = 0
for mul in mylist:
  my_list = my_list + mul 
print(my_list)

55

In [ ]:
string ='Hello World'

for letter in string:
  print(string)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
tup = (1,2,3,)
for lette in tup:
  print(lette)

1
2
3

In [ ]:
list_tup =[(1,2,3),(6,7,8),(9,5)]
for list in list_tup:
  print(list)

(1, 2, 3)
(6, 7, 8)
(9, 5)

Tuple unpacking

In [ ]:
list_tup =[(1,2,3),(6,7,8),(9,5,6)]
for a,b,c in list_tup:
  print(c)

3
8
6

In [ ]:
Dict ={'k1':66,'k2':44,'k3':78}

for iteams in Dict:
  print(iteams)

k
k
k

WHILE LOOP

In [ ]:
x=50
while x<5:
  print(f' The current value of X is {x}')
  x+=1
else:
  print(f'The current value is less than 5')

The current value is less than 5

In [ ]:
x=[1,2,3]

for num in x:
  # comment
  pass
  print(x)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [ ]:
myname ='Dineshgkumar'

for letter in myname:
  if letter =='g':
    continue
  print(letter)

D
i
n
e
s
h
k
u
m
a
r

In [ ]:
myname ='Dineshgkumar'

for letter in myname:
  if letter =='g':
    break
  print(letter)

D
i
n
e
s
h

In [ ]:
x=0

while x<7:
  if x==5:
    break
  print(x)
  x+=1

0
1
2
3
4

Range

In [ ]:
for num in range(0,10,3):
  print(num)

0
3
6
9

In [ ]:
  list(range(0,10,3))

[0, 3, 6, 9]

Enumerate

In [ ]:
word = 'abcd'
for letter in enumerate(word):
  print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [ ]:
word = 'abcd'
for index,letter in enumerate(word):
  print(index)

0
1
2
3

Zip

In [ ]:
my_list1 = [1,2,3]
my_list2 = ('a','b','c')

In [ ]:
zip(my_list1,my_list2)

In [ ]:
for item in zip(my_list1,my_list2):
  print(item)

(1, 'a')
(2, 'b')
(3, 'c')

CHECK IN THE LIST

In [ ]:
'X'in (1,2,3)

False

In [ ]:
'X' in ('X','y','c')

True

In [ ]:
my_list = [1,3,4,45,645,444]

In [ ]:
min(my_list)

1

In [ ]:
max(my_list)

645

In [ ]:
from random import shuffle

In [ ]:
my_list = [1,2,3,4,5]
shuffle(my_list)

In [ ]:
my_list

[4, 3, 1, 2, 5]

In [ ]:
from random import randint

In [ ]:
randint(0,12)

9

In [ ]:
Name = int(input('What is your favourite number'))

What is your favourite number55

In [ ]:
Name

55

In [ ]:
type(Name)

int

LIST COMPREHENSION

In [ ]:
my_list = 'hello'

In [ ]:
my_string = []

for num in my_list:
  my_string.append(num)

'hello'

In [ ]:
my_list = 'Dinesh'
my_list = [num for num in my_list]

In [ ]:
my_list

['D', 'i', 'n', 'e', 's', 'h']

In [ ]:
my_value = [x**2 for x in range(0,10)]

In [ ]:
my_value

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
my_value = [x*2 for x in range(0,10) if x % 2==0]

In [ ]:
my_value

[0, 4, 8, 12, 16]

In [ ]:
celcius = [0,12,16,19]

Farenheit = [((9/5*temp + 32) for temp in celcius)]

In [ ]:
Farenheit

In [ ]:
Farenheit

In [ ]:
my_list = [1,2,3]
my_value = [22,33,44]
my_dk = []
for x in my_list:
  for y in my_value:
    my_dk.append(x*y)

In [ ]:
my_dk

[22, 33, 44, 44, 66, 88, 66, 99, 132]

In [ ]:
my_dk = [x*y for x in my_list for y in my_value]

In [ ]:
my_dk

[22, 33, 44, 44, 66, 88, 66, 99, 132]

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
st

'Print only the words that start with s in this sentence'

In [ ]:
st.split()

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [ ]:
for words in st.split():
  if words[0]=='s':
    print(words)

start
s
sentence

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
my_lsit = [x for x in range(0,51) if x % 3==0 ]
print(my_lsit)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
st.split()

['Print',
 'every',
 'word',
 'in',
 'this',
 'sentence',
 'that',
 'has',
 'an',
 'even',
 'number',
 'of',
 'letters']

In [ ]:
for i in st.split():
  if len(i) % 2==0:
    print(i + ' even words')

word even words
in even words
this even words
sentence even words
that even words
an even words
even even words
number even words
of even words

In [ ]:
for num in range(1,50):
  print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [ ]:
for num in range(1,50):
  if num%3==0 and num%5==0:
    print('FizzBuzz')
  elif num%3==0:
    print('Fizz')
  elif num%5==0:
    print('Buzz')
  else:
    print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49

In [ ]:
my_list =[1,2,3]

In [ ]:
my_list.append(4)

In [ ]:
my_list

[1, 2, 3, 4]

In [ ]:
my_list.pop()

4

In [ ]:
my_list

[1, 2, 3]

In [ ]:
my_list.pop()

3

In [ ]:
help(my_list.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

FUNCTIONS

In [ ]:
def say_hello():
  print('Hello')

In [ ]:
say_hello()

Hello

In [ ]:
def say_hi(name='Default'):
  print(f'Hi {name}')

In [ ]:
say_hi()

Hi Default

In [ ]:
def add_func(num1,num2):
  return num1+num2

In [ ]:
add_func(1,5)

6

In [ ]:
output= add_func(1,5)

In [ ]:
output

6

In [ ]:
def sum_num(num1,num2):
  return num1+num2

In [ ]:
sum_num(4,8)

12

In [ ]:
20 % 2 == 0

True

In [ ]:
25 % 2==0

False

In [ ]:
def even_value(num):
  return num % 2==0

In [ ]:
even_value(50)

True

RETURN TRUE IF ANY NUMBER IS INSIDE EVEN VALUE

In [ ]:
def even_num(number):
  for val in number:
    if val % 2 == 0:
      return True
    else:
      pass
  return False

In [ ]:
even_num([1,999,9999999])

False

RETURN VALUES IN A LIST

In [ ]:
def even_value(numbers):
  even_number = []
  for num in numbers:
    if num % 2 ==0:
      even_number.append(numbers)
      
    else:
      pass

  return even_number

In [ ]:
even_value([1,7]) # odd value mentioned

[]

In [ ]:
even_value([2,6])

[[2, 6], [2, 6]]

TUPLE UNPACKING

In [ ]:
stock_price = [('Apple',230),('Google',600),('onepluse',112)]

In [ ]:
for items in stock_price:
  print(items)

('Apple', 230)
('Google', 600)
('onepluse', 112)

In [ ]:
for name,price in stock_price:  # Tuple unpacking
  print(price+(0.1*price))

253.0
660.0
123.2

find out the employee of the month ( Related to No. of hours work

In [ ]:
employee_data = [('DK',450),('Vic',650),('Dani',651)]

In [ ]:
def employee_of_month(employee_data):
  Current_max = 0
  employee_name= ''
  for employee,hours in employee_data:
    if hours > Current_max:
      Current_max = hours
      employee_name = employee
    else:
      pass


  return (employee_name,Current_max)

In [ ]:
employee_of_month(employee_data)

('Dani', 651)

SHUFFLE GAME

In [ ]:
dice=[1,2,3,4,5,6]

In [ ]:
from random import shuffle

In [ ]:
shuffle(dice)

In [ ]:
dice

[2, 5, 1, 6, 3, 4]

In [ ]:
def shuffule_list(my_list):
  shuffle(my_list)
  return my_list

In [ ]:
result = shuffule_list(dice)

In [ ]:
result

[3, 4, 6, 5, 1, 2]

In [ ]:
my_list = ['', 'O', '']

In [ ]:
shuffule_list(my_list)

['', 'O', '']

In [ ]:
def myfunc(Name):
    print('Hello {}'.format(Name))
    
myfunc('Name')

Hello Name

**arugs and **Kwargs

In [ ]:
def myfunc(a,b):
  return sum((a,b)) *0.05

In [ ]:
myfunc(10,56)

3.3000000000000003

In [ ]:
def myfunc(*args):   # *args are very usefull for multiple arguments
  return sum(args)

In [ ]:
def myfunc(*args):
  return sum(args) *0.05

In [ ]:
myfunc(10,20)

1.5

In [ ]:
 def myfunc(**kwargs):

   if fruits in kwargs:
     print('My favourie fruits {}'.format(kwargs['fruits']))
   else:
      print('I dont like it')

In [ ]:
def myfunc(*args, **kwargs):
  print(args)
  print('Find the fruits value {} {}'.format(args[0],kwargs ['food']))

In [ ]:
def myfunc(*args):
    if args % 2:
        return args

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd


lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [11]:
def less_or_not_even(a,b):
  if a % 2==0 & b % 2==0:
    return min(a,b)
  else:
    return max(a,b)
  pass

In [13]:
less_or_not_even(3,4)

4

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter



animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [17]:
def two_string_words(text):
  wordlist = text.split()
  return wordlist[0][0]== wordlist[1][0]

In [22]:
two_string_words('Dinesh kumar')

False


MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [23]:
def makes_twenty(n1,n2):
  if n1==20 or n2==20:
    return True
  elif n1 + n2 ==20:
    return True
  else:
    return False

In [26]:
makes_twenty(202,8)

False

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

In [40]:
def old_macdonald(name):
  if len(name) > 3:
    return name[:3].capitalize() + name[3:].capitalize()  # Capitalize is the function for converting upper case to lower case except First letter
  return name

In [41]:
old_macdonald('Dinesh')

'DinEsh'

MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

In [42]:
def master_yoda(name):
  return ' '.join(name.split()[::-1])

In [43]:
master_yoda( 'Back i home')

'home i Back'

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3])  True
has_33([1, 3, 1, 3])  False
has_33([3, 1, 3])  False

In [46]:
def has_33(num):
  for i in range(0, len(num)-1):
    if num[i:i+2]==[3,3]:
      return True
    return False

In [47]:
has_33([1,4,3,3])

False